.photo-grid {
  margin: 0px auto 0;
  padding: 92px 0 0;
  list-style: none;

  max-width: 1184px;

  display: grid;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  gap: 16px;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .photo-grid {
    max-width: calc(1184 / 1280 * 100%);
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: calc(928 / 1024 * 100%);

    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    padding: 88px 0 0;

    max-width: calc(720 / 768 * 100%);

    grid-template-rows: repeat(6, minmax(min-content, max-content));
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    gap: 16px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    padding: 64px 0 0;

    max-width: calc(288 / 320 * 100%);

    grid-template-rows: repeat(12, minmax(min-content, max-content));
    grid-template-columns: repeat(1, minmax(min-content, max-content));
    gap: 12px;
  }
}

