.footer_position_page {
  margin: 92px auto 0;
}

@media screen and (max-width: 768px) {
  .footer_position_page {
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .footer_position_page {
    margin: 64px 0 0 16px;
  }
}
