.place__paragraph {
  margin: 25px 0 0;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.place__paragraph:first-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .place__paragraph {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: calc(289 / 320 * 100%);
  }

  .place__paragraph:first-child {
    margin-left: auto;
    margin-right: auto;
  }
}
