.intro__text {
  margin: 40px 0 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    margin: 40px auto 0;
    max-width: calc(720 / 768 * 100%);
  }
}

@media screen and (max-width: 425px) {
  .intro__text {
    max-width: calc(288 / 320 * 100%);
  }
}
