.photo-grid_position_page {
  margin: 92px auto 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .photo-grid_position_page {
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    margin: 64px auto 0;
  }
}
