.cover {
  max-width: 1184px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

@media screen and (max-width: 1280px) {
  .cover {
    max-width: calc(1184 / 1280 * 100%) ;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    padding-top: 66px;
  }
}
