.cover__background {
  background: url(../../../images/cover-trains.jpg);
  width: 100%;
  padding-bottom: calc(740 / 1184 * 100%);
  background-position: bottom;
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
