.place {
  margin: 0;
  padding: 80px 0 0;

  max-width: 100%;

  display: grid;
  grid-template-columns: minmax(calc(18px + 12px), 460px)
                        minmax(calc(18px + 12px), 484px);
  grid-template-rows: auto;
  justify-items: start;
  align-items: end;
  align-content:end;
  justify-content: space-between;
  row-gap: 48px;
  column-gap: 40px;
}

.place:first-child {
  padding: 0;
}
